.nav {
  display: flex;
  width: 90%;
  margin: 2rem auto;
  p,
  h4 {
    color: var(--dark-green-03, #1d9e34);
    font-family: 'Clahs Grotesk';
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 160%; /* 25.6px */
  }

  h4 {
    color: #0b0f0e;
  }

  span {
    color: #818b9c;
  }
}

.header {
  width: 90%;
  display: flex;
  flex-direction: column;
  .checkehdImg {
    border: 1px solid aqua;
  }
  .imagesContainer {
    width: 100%;
    margin: auto 2.5rem;

    .thumbnail {
      width: 100%;
      height: 41rem;
      border-radius: 9px;
      background: var(--l-grey-02, #f6f6f6);
      border: solid 1px #e6e6e6;
      border-radius: 8px 8px 8px 8px;

      & > div {
        height: 100% !important;

        & > img {
          width: 100%;
          height: 100% !important;
          border-radius: 8px;
          //   object-fit: cover;
        }

        // &> div {
        //     // right: -50% !important;
        //     // top: 30px !important;
        //     left: 110% !important;
        // }
      }
    }

    .otherImages {
      width: 100%;
      margin: 3.5rem auto;
      display: flex;
      justify-content: space-between;
      gap: 5%;

      div {
        width: 25%;
        height: 7rem;
        border: solid 1px #e6e6e6;
        border-radius: 8px 8px 8px 8px;

        img {
          width: 100%;
          height: 100%;
          border: solid 0.5px #e6e6e6;
          border-radius: 8px 8px 8px 8px;
        }
      }
    }
  }

  .productDetails {
    width: 100%;
    margin: auto 2.5rem;
    h1 {
      color: var(--black-01, #0b0f0e);

      margin-bottom: 1rem;
      font-family: 'Clash Grotesk';
      font-size: 2.4rem;
      font-style: normal;
      font-weight: 600;
      line-height: 140%; /* 33.6px */
      letter-spacing: -0.2px;
    }

    .rating {
      display: flex;
      gap: 2rem;
      .star {
        display: flex;
        gap: 1rem;
        img {
          width: 2rem;
          height: 2rem;
        }
        p {
          color: var(--black-01, #0b0f0e);

          /* Paragraph / P2 / 14 Regular - Lh 160% */
          font-family: 'Clash Grotesk';
          font-size: 1.4rem;
          font-style: normal;
          font-weight: 400;
          line-height: 160%; /* 22.4px */
        }
      }

      .soldQuantity {
        color: var(--black-01, #0b0f0e);

        /* Paragraph / P2 / 14 Regular - Lh 160% */
        font-family: 'Clash Grotesk';
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 22.4px */
      }
    }

    .price {
      color: var(--dark-green-03, #1d9e34);

      /* Extra Heading/Eh6 - 20 Semi Bold -  Lh 130% */
      font-family: 'Clash Grotesk';
      font-size: 2rem;
      font-style: normal;
      font-weight: 600;
      line-height: 140%; /* 28px */
      letter-spacing: -0.2px;
      margin-top: 1.3rem;
      display: block;
    }

    .shortDescription {
      color: var(--grey-01, #818b9c);

      margin-top: 1.3rem;
      font-family: 'Clash Grotesk';
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 400;
      line-height: 160%; /* 22.4px */
    }

    .variants {
      display: flex;
      justify-content: space-between;
      margin-top: 1.6rem;
      label {
        color: var(--black-01, #0b0f0e);

        /* Paragraph / P2 / 14 Regular - Lh 160% */
        font-family: 'Clash Grotesk';
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 22.4px */
      }

      select {
        display: flex;
        padding: 11px 16px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
        border-radius: 8px;
        border: 1px solid var(--d-grey-01, #e4e9ee);
      }
    }

    .buttons {
      display: flex;
      margin-top: 3rem;
      flex-direction: column;
      gap: 1rem;
      width: 100%;
      .btn {
        padding: 14px 10px;
      }
    }
  }
}

.detailsNavigation {
  width: 90%;
  margin: 5.5rem auto;

  ul {
    display: flex;
    gap: 3rem;
    // overflow-x: scroll;
    white-space: nowrap;

    li {
      list-style: none;
      display: inline;

      cursor: pointer;
      text-decoration: none;
      color: var(--dark-green-01, #818b9c);
      text-align: center;

      font-family: 'Clash Grotesk';
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 600;
      line-height: 140%; /* 22.4px */
      letter-spacing: -0.02rem;

      &::after {
        content: "";
        display: block;
        width: 0;
        height: 1px;
        background: #1e4c2f;
        transition: width 0.4s ease-in;
      }

      &:hover {
        color: #1e4c2f;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }
}

.shortDesc {
  width: 90%;
  margin: 3.5rem auto;
  h1 {
    color: var(--black-01, #0b0f0e);

    /* Extra Heading/Eh4 - 28 Semi Bold -  Lh 140% */
    font-family: 'Clash Grotesk';
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 39.2px */
    letter-spacing: -0.2px;
  }

  p {
    margin-top: 1.2rem;
    // width: 80%;
    color: var(--grey-01, #818b9c);

    /* Paragraph/P1/16 Regular - Lh 160% */
    font-family: 'Clash Grotesk';
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 25.6px */
  }
}

.specificationsContainer {
  width: 90%;
  margin: 0 auto;
  h1 {
    color: var(--black-01, #0b0f0e);

    margin: 2.5rem 0;
    font-family: 'Clash Grotesk';
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 22.4px */
    letter-spacing: -0.2px;
  }
  .specification1 {
    width: 100%;
    ul {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      li {
        display: flex;
        justify-content: space-between;
        div {
          width: 50%;
        }
        h3 {
          list-style: none;
          color: var(--grey-01, #818b9c);

          /* Paragraph / P2 / 14 Regular - Lh 160% */
          font-family: 'Clash Grotesk';
          font-size: 1.4rem;
          font-style: normal;
          font-weight: 400;
          line-height: 160%; /* 22.4px */
        }
        p {
          color: var(--black-01, #0b0f0e);
          text-align: left;

          /* Paragraph/P2/14 Medium - Lh 160% */
          font-family: 'Clash Grotesk';
          font-size: 1.4rem;
          font-style: normal;
          font-weight: 500;
          line-height: 160%; /* 22.4px */
          // margin-left: 20%;
        }
      }

      li:nth-child(odd) {
        background-color: #f9f9f9;
      }
    }
  }

  .specification2 {
    width: 100%;
    ul {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      li {
        list-style: none;
        div {
          display: flex;
          align-items: center;
          .icon {
            width: 2.4rem !important;
            height: 2.4rem;
            margin-right: 1.6rem;
            img {
              width: 2.4rem;
              height: 2.4rem;
            }
          }
          p{
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

.hr {
  width: 90%;
  margin: 4rem auto;
  color: #e4e9ee;
  // height: 1px;
  border: 1px solid;
}

.merchantContainer {
  width: 90%;
  margin: 2rem auto;
  h1 {
    color: var(--black-01, #0b0f0e);

    /* Heading / Eh - 16 Semi Bold -  Lh 140% */
    font-family: 'Clash Grotesk';
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 22.4px */
    letter-spacing: -0.2px;
    margin-bottom: 1.5rem;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    margin: 4rem 0;
    .logoSection {
      display: flex;
      gap: 1.4rem;
      .logoContainer {
        width: 5.2rem;
        height: 5.2rem;
        img {
          width: 100%;
          height: 100%;
          border-radius: 53%;
          border: 2px solid var(--l-grey-01, #f1f1f1);
          box-shadow: 0px 4px 60px 0px rgba(129, 139, 156, 0.12);
        }
      }

      .merchantInfo {
        h2 {
          color: var(--black-01, #0b0f0e);

          /* Heading/H3 - 14 Semi Bold -  Lh 140% */
          font-family: 'Clash Grotesk';
          font-size: 1.4rem;
          font-style: normal;
          font-weight: 600;
          line-height: 140%; /* 19.6px */
          letter-spacing: -0.2px;
        }

        h3 {
          color: var(--grey-01, #818b9c);

          /* Paragraph/P3/12 Regular - Lh 160% */
          font-family: 'Clash Grotesk';
          font-size: 1.2rem;
          font-style: normal;
          font-weight: 400;
          line-height: 160%; /* 19.2px */
        }

        .merchantRating {
          display: flex;
          gap: 1rem;
          margin-top: 1rem;

          div {
            padding: 0.5rem 0.8rem;
            border-radius: 4px;
            background: rgba(29, 158, 52, 0.1);
            p {
              color: var(--dark-green-03, #1d9e34);

              margin-bottom: 0;
              font-family: Clash Grotesk;
              font-size: 12px;
              font-style: normal;
              font-weight: 500;
              line-height: 160%; /* 19.2px */
            }
          }
        }
      }
    }
  }

  .merchantButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .chatMerchant {
      display: flex;
      height: 40%;
      align-items: center;
      gap: 0.5rem;
      border-radius: 8px;
      border: 1px solid var(--dark-green-01, #1e4c2f);
      padding: 1rem 2.8rem;
      .chatlogo {
        width: 2.5rem;
        height: 2.5rem;
        img {
          width: 100%;
          height: 100%;
        }
      }

      p {
        color: var(--dark-green-01, #1e4c2f);
        text-align: center;
        margin-bottom: 0;

        /* Heading/H3 - 14 Semi Bold -  Lh 140% */
        font-family: 'Clahs Grotesk';
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 600;
        line-height: 140%; /* 19.6px */
        letter-spacing: -0.2px;
      }
    }

    .visitMerchant {
      display: flex;
      height: 40%;
      align-items: center;
      gap: 0.5rem;
      border-radius: 8px;
      border: 1px solid var(--dark-green-01, #1e4c2f);
      padding: 1rem 2.8rem;
      .visitlogo {
        width: 2.5rem;
        height: 2.5rem;
        img {
          width: 100%;
          height: 100%;
        }
      }

      p {
        color: var(--dark-green-01, #1e4c2f);
        text-align: center;
        margin-bottom: 0;

        /* Heading/H3 - 14 Semi Bold -  Lh 140% */
        font-family: 'Clahs Grotesk';
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 600;
        line-height: 140%; /* 19.6px */
        letter-spacing: -0.2px;
      }
    }
  }
}

.reviewsContainer {
  width: 90%;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  .filterSection {
    aside {
      padding: 1.4rem;
      border-radius: 1.2rem;
      border: 1px solid var(--d-grey-01, #e4e9ee);
      h1 {
        color: var(--black-01, #0b0f0e);
        font-family: 'Clahs Grotesk';
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        letter-spacing: -0.2px;
      }

      .modalClose span {
        display: none;
      }
      hr {
        border-color: #e4e9ee;
        height: 1px;
        margin-bottom: 1rem;
      }
      .mainFilter {
        font-size: 2rem;
        margin-bottom: 1rem;
      }
      ul {
        max-height: 150px;
        transition: all 1s ease;
        overflow: hidden;
      }
      ul li {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 1rem;
        label {
          color: var(--grey-01, #818b9c);

          display: flex;
          align-items: center;
          gap: 0.8rem;
          font-family: 'Clahs Grotesk';
          font-size: 1.6rem;
          font-style: normal;
          font-weight: 400;
          line-height: 160%; /* 25.6px */
          img {
            width: 2rem;
            height: 2rem;
          }
        }

        input {
          accent-color: #1d9e34;
        }
      }

      .filterHeading {
        display: flex;
        justify-content: space-between;
        margin: 1rem 0;
        span {
          cursor: pointer;
        }
      }

      .prices {
        max-height: 350px;
        transition: all 1s;
        overflow: hidden;
        input {
          width: 100%;
          height: 3rem;
          font-size: 1.5rem;
          margin-bottom: 1rem;
          border-radius: 12px;
          border: 1px solid var(--d-grey-01, #e4e9ee);
        }
        .btn {
          width: 40%;
          padding: 0.4rem 0.8rem;
          font-size: 1.1rem;
          margin-bottom: 1.3rem;
        }

        .priceSingle {
          border-radius: 12px;
          border: 1px solid var(--d-grey-01, #e4e9ee);

          margin-bottom: 1.2rem;
          padding: 1rem 1.6rem;
          p {
            color: var(--black-01, #0b0f0e);

            /* Paragraph / P2 / 14 Regular - Lh 160% */
            font-family: 'Clahs Grotesk';
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 160%; /* 22.4px */
          }
        }
      }

      .closeFilter {
        overflow: hidden;
        max-height: 0;
        transition: all 0.5s ease-in-out;
      }
    }
  }

  .reviewsSection {
    h1 {
      color: var(--black-01, #0b0f0e);

      /* Heading / Eh - 16 Semi Bold -  Lh 140% */
      font-family: Clash Grotesk;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 140%; /* 22.4px */
      letter-spacing: -0.2px;
      margin-bottom: 2rem;
    }

    .reviewsWrapper {
      .singleReview {
        .hr1 {
          width: 100%;
        }
        .reviewRating ul {
          display: flex;
          li {
            list-style: none;
            img {
              width: 2rem;
              height: 2rem;
            }
          }
          margin-bottom: 2rem;
        }

        .reviewText {
          color: var(--black-01, #0b0f0e);
          font-family: 'Clahs Grotesk';
          font-size: 1.4rem;
          font-style: normal;
          font-weight: 600;
          line-height: 140%; /* 19.6px */
          letter-spacing: -0.2px;
        }

        .reviewDate {
          color: var(--grey-01, #818b9c);

          margin-bottom: 2rem;
          font-family: 'Clahs Grotesk';
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 160%; /* 22.4px */
        }

        .reviewUser {
          display: flex;
          align-items: center;
          gap: 1rem;
          .userPhoto {
            width: 3rem;
            height: 3rem;
            img {
              height: 100%;
              width: 100%;
            }
          }

          h2 {
            color: var(--black-01, #0b0f0e);

            /* Paragraph/P2/14 Medium - Lh 160% */
            font-family: " Clash Grotesk";
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 160%; /* 22.4px */
          }
        }
      }
    }
  }
}

ul {
  padding-left: 0 !important;
}

@media screen and (min-width: 560px) {
  .nav {
    width: 80%;
    h4,
    p {
      font-size: 1.5rem;
    }
  }

  .header {
    width: 80%;
    flex-direction: row;
    margin: 2.5rem auto;
    gap: 3.5rem;

    .imagesContainer {
      margin: 0;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .thumbnail {
        height: 36rem;
      }

      .otherImages {
        margin: 0;
        gap: 10%;

        div {
          width: 25%;
          height: 5.4rem;
        }
      }
    }

    .productDetails {
      width: 50%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      // justify-content: space-between;
      h1 {
        font-size: 2.4rem;
      }

      .rating {
        .star {
          img {
            width: 2.4rem;
            height: 2.4rem;
          }
        }
      }

      .variants {
        justify-content: flex-start;
        gap: 2rem;
        margin-top: 3rem;
        select {
          font-size: 1.2rem;
          option {
            font-size: 1.5rem;
          }
        }

        div {
          label {
            margin-bottom: 2rem;
          }
        }
      }

      .buttons {
        flex-direction: row;
        .btn {
          padding: 0.8rem 4rem;
        }
      }
    }
  }

  .shortDesc {
    width: 80%;
    p {
      width: 80%;
    }
  }

  .detailsNavigation {
    width: 80%;
  }
  .specificationsContainer {
    display: flex;
    width: 80%;
    gap: 2.5rem;

    .specification1,
    .specification2 {
      width: 45%;
    }

    .specification1 {
      ul li {
        div h3,
        p {
          font-size: 1.7rem;
        }
      }
    }
    .specification2 {
      ul li {
        p {
          font-size: 1.7rem;
        }
      }
    }
  }

  .hr {
    width: 80%;
  }

  .merchantContainer {
    width: 80%;
    h1 {
      font-size: 2rem;
    }

    .container {
      flex-direction: row;

      .logoSection {
        .logoContainer {
          width: 8rem;
          height: 8rem;
        }

        .merchantInfo {
          h2 {
            font-size: 1.6rem;
          }
          h3 {
            font-size: 1.4rem;
          }

          .merchantRating {
            div {
              padding: 0.2rem 0.6rem;
              p {
                font-size: 1.1rem;
                width: max-content;
              }
            }
          }
        }
      }

      .merchantButtons {
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        gap: 2rem;

        .chatMerchant {
          justify-content: center;
        }
      }
    }
  }

  .reviewsContainer {
    width: 80%;
    flex-direction: row;
    justify-content: space-between;

    .filterSection {
      width: 25%;
    }
    .reviewsSection {
      width: 70%;
      h1 {
        font-size: 2rem;
      }

      .reviewsWrapper {
        .singleReview {
          .reviewText {
            font-size: 1.8rem;
          }

          .reviewDate {
            font-size: 1.6rem;
          }

          .reviewUser {
            .userPhoto {
              width: 3.5rem;
              height: 3.5rem;
            }

            .userName {
              font-size: 1.6rem;
            }
          }
        }
      }
    }
  }
}

.containerProduct {
  width: 80%;
  margin: 10rem auto;

  .heading {
    color: var(--black-01, #0b0f0e);
    text-align: left;

    /* Heading/H2 - 18 Semi Bold -  Lh 140% */
    font-family: 'Clahs Grotesk';
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 25.2px */
    letter-spacing: -0.2px;
    margin-bottom: 2rem;
  }

  .description {
    color: var(--grey-01, #818b9c);

    /* Paragraph / P2 / 14 Regular - Lh 160% */
    font-family: 'Clahs Grotesk';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 22.4px */
    width: 70%;
    margin: 1.5rem auto;
    text-align: center;
  }

  .products {
    display: flex;
    align-items: start;
    // justify-content: space-between;
    flex-wrap: wrap;
    gap: 4%;
  }

  .btnContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem auto;
    .loadMoreBtn {
      padding: 1.5rem 3.2rem;
      cursor: pointer;
      font-size: 1.4rem;
    }
  }
}

@media screen and (max-width: 602px) {
  .containerProduct {
    width: 90%;

    .products {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
}

@media screen and (min-width: 800px) {
  .header {
    .imagesContainer {
      width: 40%;
      gap: 2rem;
      justify-content: space-between;
      .thumbnail {
        height: 55rem;
      }
      .otherImages {
        gap: 10%;
        div {
          width: 25%;
          height: 9rem;
        }
      }
    }

    .productDetails {
      h1 {
        font-size: 3.4rem;
      }

      .rating {
        .star {
          p {
            font-size: 1.6rem;
            display: flex;
            align-items: center;
          }
        }

        p {
          font-size: 1.6rem;
          display: flex;
          align-items: center;
        }
      }

      .soldQuantity {
        font-size: 1.6rem;
      }

      .price {
        font-size: 2.5rem;
      }

      .shortDescription {
        font-size: 1.6rem;
      }

      .variants {
        div label {
          font-size: 1.6rem;
        }
      }

      .buttons {
        .btn {
          padding: 1rem 5rem;
        }
      }
    }
  }

  .merchantContainer {
    .container {
      .merchantButtons {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2rem;
      }
    }
  }
}

@media screen and (max-width: 560px) {
  aside {
    width: 100%;
    translate: 100%;
    transition: 0.4s ease;
    position: fixed;
    height: 100vh;
    z-index: 999;
    top: 0;
    right: 0;
    opacity: 100;
    background-color: white;
    .modalClose {
      display: flex;
      justify-content: space-between;
      span {
        display: block;
      }
    }
  }

  .buttons{
    div{
      display: flex;
      flex-direction: column;
    }
  }
}
